/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #b0b0b0;
    font-size: 14px;
}
a {
    color: azure;
    text-decoration: none;

    &:hover:not(.logo) {
        transform: scale(1.1);
    }
}

.grid-wrap {
    width: 90%;
    height: auto;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

        .logo {
            color: white;
            font-weight: 800;
            font-size: 36px;
            padding: 20px 0;
            line-height: 1;
        }
        .links-container {
            margin-left: auto;
            display: flex;
            gap: 50px;
        }
}
.logo-2 {
    display: none;
}
nav {
    width: 100%;
    height: auto;
    background-color: #696969;
}
nav .grid-wrap {
    flex-direction: row;
    align-items: center;
}
@media screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }
}
@media screen and (min-width: 768px) {
    .logo-2 {
        display: inline;
    }
}